.btnTrue {
    color: red;
    border: none;
    background-color: whitesmoke;
    margin: 10px 10px 10px 0;

}

.btnFalse {
    border: none;
    background-color: whitesmoke;
    margin: 10px 10px 10px 0;
}
